<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<ul>
  <div class="cards">
    <% @garden.plants.each do |plant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
        <%= plant.name %>
    <%= link_to "X", plant_path(plant), data: {confirm: 'Estas seguro?'}, method: :delete %>
      </div>

    <% end %>
  </div>

</ul>

<%= simple_form_for [ @garden, @plant ] do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.submit %>

<% end %>


<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
